<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>

<div class="circle">
  <br />
  COME
  <br />
  WHAT
  <br/>
  MAY
</div>

<div class="col-xs-4 heading">
	Favorite quotes
</div>
<div class="col-xs-5 links">
	<%= link_to 'Contribute', '#' %>
	<%= link_to 'About', '#' %>
</div>

</header>

<hr/>

<br class="clear" />

<%= yield %>

</body>
</html>
